
      
      <%= live_component(
        @socket,
        Bonfire.Geolocate.MapLive,
        id: :AMap,
        page_title: @page_title,
        page: @page,
        smart_input: @smart_input
        )  %>
